
/* body{
    background-image: url("https://images.pexels.com/photos/13871983/pexels-photo-13871983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
} */
.home{

    font-family: 'Preahvihear', sans-serif; 
    background-image: url("https://images.pexels.com/photos/13871983/pexels-photo-13871983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
}
.title{
    text-align: center;
    padding-top: 50px;
    color: beige;
   
    font-size: 50px;
    margin-bottom: 30px;
}
.heading{
    margin-left: 40px;
    font-size: 30px;
    color: antiquewhite;
}
.content{
    color:beige;
    font-size: medium;
    padding-left: 5%;
}
.adminButton{
    align-self: end;
    border-radius: 5px;
   margin-left: 85%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
    margin-top: 30px;
    color: rgb(119, 85, 40);
   
}
.userButton{
    align-self: end;
    margin-left: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
    margin-top: 30px;
    color: rgb(119, 85, 40);
}